<section class="customer-form">
  <div class="row">
    <div>
      <div>
        <h4>{{ 'customers.add.title_section'| translate  }}</h4>
      </div>
      <div>
        <form (ngSubmit)="onSubmit()" #customerForm="ngForm">
          <div class="row">
            <div class="col m6 l6 s12">
              <div class="info">
                <h6>{{ 'customers.add.info' | translate }}</h6>
                <div class="input-field">
                  <input type="text" id="name-input" name="last_name" #last_name="ngModel"
                         required class=" name"
                         [(ngModel)]="customer.last_name"
                         minlength="3" maxlength="20" (change)="verifForm()"
                  />
                  <label [ngClass]="{'active': isClassActive }" for="name-input">{{
                    'customers.add.info_name' | translate }}</label>
                </div>
                <div class="input-field">
                  <input type="text" id="siret-input" name="siret" #siret="ngModel"
                         required class="siret"
                         [(ngModel)]="customer.siret"
                         minlength="14" maxlength="14" (change)="verifSiret(customer.siret)"
                  />
                  <label for="siret-input">{{ 'customers.add.info_siret' | translate }}</label>
                  <div *ngIf="formErrors.siret" class="alert alert-danger">
                    {{ formErrors.siret }}
                  </div>
                </div>
                <div class="input-field">
                  <input type="text" id="siren-input" name="siren" #siren="ngModel"
                         required class="siren"
                         [(ngModel)]="customer.siren"
                         minlength="9" maxlength="9" (change)="verifSiren(customer.siren)"
                  />
                  <label for="siren-input">{{ 'customers.add.info_siren' | translate }}</label>
                  <div *ngIf="formErrors.siren" class="alert alert-danger">
                    {{ formErrors.siren }}
                  </div>
                </div>
                <div class="input-field">
                  <input type="text" id="address-input" name="address" #address="ngModel"
                         required class=" address" (change)="verifForm()"
                         [(ngModel)]="customer.address"/>
                  <label for="address-input">{{ 'customers.add.info_adress' | translate }}</label>
                  <div *ngIf="formErrors.address" class="alert alert-danger">
                    {{ formErrors.address }}
                  </div>
                </div>
                <div class="row">
                  <div class="col m4 l4 s12">
                    <div class="input-field">
                      <input type="text" id="zipcode-input" name="zip_code" #zip_code="ngModel"
                             required class=" zipcode" minlength="4" maxlength="5" forbiddenZipcode (change)="verifForm()"
                             [(ngModel)]="customer.zip_code"/>
                      <label for="zipcode-input">{{ 'customers.add.info_zip_code' | translate }}</label>
                      <div *ngIf="formErrors.zip_code" class="alert alert-danger">
                        {{ formErrors.zip_code }}
                      </div>
                    </div>
                  </div>
                  <div class="col m8 l8 s12">
                    <div class="input-field">
                      <input type="text" id="city-input" name="city"  #city="ngModel"
                             required class=" city" (change)="verifForm()"
                             [(ngModel)]="customer.city"/>
                      <label for="city-input">{{ 'customers.add.info_city' | translate }}</label>
                      <div *ngIf="formErrors.city" class="alert alert-danger">
                        {{ formErrors.city }}
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="input-field">
                      <input type="text" id="phone-input" name="phone"  #phone="ngModel"
                             class=" phone" minlength="10" maxlength="15" forbiddenTelephone required (change)="verifForm()"
                             [(ngModel)]="customer.phone"/>
                      <label for="phone-input">{{ 'customers.add.info_phone' | translate }}</label>
                      <div *ngIf="formErrors.phone" class="alert alert-danger">
                          {{ formErrors.phone }}
                      </div>
                  </div>
                <div class="input-field">
                  <input type="email" id="email-input" name="email"  #email="ngModel"
                         required class=" email" (change)="verifForm()"
                         [(ngModel)]="customer.email"/>
                  <label for="email-input">{{ 'customers.add.info_email' | translate }}</label>
                  <div *ngIf="formErrors.email" class="alert alert-danger">
                    {{ formErrors.email }}
                  </div>
                </div>
                <div class="input-field">
                  <input type="text" id="website-input" name="website"  #website="ngModel"
                         class=" web"   (change)="verifForm()"
                         [(ngModel)]="customer.website"/>
                  <label for="website-input">{{ 'customers.add.info_web' | translate }}</label>
                  <div *ngIf="formErrors.website" class="alert alert-danger">
                    {{ formErrors.website }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col m6 l6 s12">
              <div class="input-field">
                <input type="text" id="contactName-input" name="contactName" #contactName="ngModel"
                       class="contactName"
                       [(ngModel)]="customer.contactName"
                />
                <label for="contactName-input">{{ 'customers.add.contactName' | translate }}</label>
              </div>
              <div class="input-field">
                <input type="text" id="contactPhone-input" name="contactPhone"  #contactPhone="ngModel"
                       class=" contactPhone"
                       [(ngModel)]="customer.contactPhone"/>
                <label for="contactPhone-input">{{ 'customers.add.contactPhone' | translate }}</label>
                <div *ngIf="formErrors.phone" class="alert alert-danger">
                  {{ formErrors.phone }}
                </div>
              </div>
              <div class="input-field">
                <input type="email" id="contactEmail-input" name="contactEmail"  #contactEmail="ngModel"
                       class=" contactEmail"
                       [(ngModel)]="customer.contactEmail"/>
                <label for="contactEmail-input">{{ 'customers.add.contactEmail' | translate }}</label>
                <div *ngIf="formErrors.email" class="alert alert-danger">
                  {{ formErrors.email }}
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!--{{ CurrentCandidat }}-->
        <button id="submit" class="waves-effect waves-green btn-flat " [class.disabled]="disabled" (click)="handleCustomer() ; customerForm.reset()">{{
          'customers.add.envoyer' | translate }}</button>
        <a class="waves-effect waves-green btn-flat" (click)="customerForm.reset()" href="/customers" >{{ 'customers.add.cancel'| translate
          }}</a>
      </div>
    </div>
  </div>
</section>
