<div class="news-list" *ngIf="news">
  <section class="content-wrap">
    <div class="row">
      <h1>Liste des news</h1>
    </div>
    <div class="row">
      <div class="col s12 right-align">
        <button *ngIf="voter" class="btn waves-effect deep-orange accent-2 waves-light" [routerLink]="['create']">+ Créer une news</button>
      </div>
    </div>
    <div class="row">
      <div class="page-intra">
        <div class="section">
          <table id="news" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
            <thead>
            <tr>
              <th>Titre</th>
              <th>Date</th>
              <th>Publiée</th>
              <th class="action-buttom">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let n  of news">
              <td>{{ n.getTitle() }}</td>
              <td>{{ n.getDateNews() }}</td>
              <td>
                <i *ngIf="n.isPublished() === true; else isNotPublished" class="small material-icons">done</i>
                <ng-template #isNotPublished><i class="small material-icons">clear</i></ng-template>
              </td>
              <td>
                <a type="button" [routerLink]="['view/', n.getId()]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Voir"><i class="mdi-action-visibility"></i></a>
                <a *ngIf="voter" type="button" [routerLink]="['update/', n.getId()]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modifier"><i class="small material-icons">create</i></a>
                <a *ngIf="voter" type="button" (click)="deleteNews(n.getId())" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Supprimer"><i class="mdi-action-delete"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
