<div class="row">
  <div class="input-field col s6">
    <a class="btn-floating btn-large waves-effect waves-light  grey lighten-2" routerLink="{{link}}"><i class="material-icons">keyboard_arrow_left</i></a>
  </div>
</div>
