<section class="emplyes-form">
  <div class="row">
    <div>
      <div>
        <h4>{{ 'employes.add.title_section'| translate  }}</h4>
      </div>
      <div>
        <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
          <div class="row">
            <div class="col m6 l6 s12">
              <div class="info">
                <h6>{{ 'employes.add.info' | translate }}</h6>
                <div class="row">
                  <div class="col m6 l6 s12">
                    <div class="input-field">
                      <input type="text" id="name-input" name="last_name" #last_name="ngModel"
                             required class=" name"
                             [(ngModel)]="employee.last_name"
                             minlength="3" maxlength="20" (change)="verifForm()"
                      />
                      <label [ngClass]="{'active': isClassActive }" for="name-input">{{
                        'employes.add.info_name' | translate }}</label>
                      <div *ngIf="formErrors.name" class="alert alert-danger">
                        {{ formErrors.name }}
                      </div>
                    </div>
                  </div>
                  <div class="col m6 l6 s12">
                    <div class="input-field">
                      <input type="text" id="firstname-input" name="first_name" #first_name="ngModel"
                             required class="firstname"
                              [(ngModel)]="employee.first_name"
                             minlength="0" maxlength="25" (change)="verifForm()"
                      />
                      <label for="firstname-input">{{ 'employes.add.info_first_name' | translate }}</label>
                      <div *ngIf="formErrors.first_name" class="alert alert-danger">
                        {{ formErrors.first_name }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-field">
                  <input type="text" id="address-input" name="address" #address="ngModel"
                         required class=" address" (change)="verifForm()"
                        [(ngModel)]="employee.address"/>
                  <label for="address-input">{{ 'employes.add.info_adress' | translate }}</label>
                  <div *ngIf="formErrors.address" class="alert alert-danger">
                    {{ formErrors.address }}
                  </div>
                </div>
                <div class="row">
                  <div class="col m4 l4 s12">
                    <div class="input-field">
                      <input type="text" id="zipcode-input" name="zip_code" #zip_code="ngModel"
                             required class=" zipcode" minlength="4" maxlength="5" forbiddenZipcode (change)="verifForm()"
                              [(ngModel)]="employee.zip_code"/>
                      <label for="zipcode-input">{{ 'employes.add.info_zip_code' | translate }}</label>
                      <div *ngIf="formErrors.zip_code" class="alert alert-danger">
                        {{ formErrors.zip_code }}
                      </div>
                    </div>
                  </div>
                  <div class="col m8 l8 s12">
                    <div class="input-field">
                      <input type="text" id="city-input" name="city"  #city="ngModel"
                             required class=" city" (change)="verifForm()"
                             [(ngModel)]="employee.city"/>
                      <label for="city-input">{{ 'employes.add.info_city' | translate }}</label>
                      <div *ngIf="formErrors.city" class="alert alert-danger">
                        {{ formErrors.city }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col m6 l6 s12">
                    <div class="input-field">
                      <input type="password" id="city-password" name="password"  #password="ngModel"
                             required class=" password" (change)="verifForm()"
                             [(ngModel)]="employee.password"/>
                      <label for="city-input">{{ 'employes.add.passeword' | translate }}</label>
                      <div *ngIf="formErrors.password" class="alert alert-danger">
                        {{ formErrors.password }}
                      </div>
                    </div>
                  </div>
                  <div class="col m6 l6 s12">
                    <div class="input-field">
                      <input type="text" id="phone-input" name="phone"  #phone="ngModel"
                             class=" phone" minlength="10" maxlength="15" forbiddenTelephone required (change)="verifForm()"
                              [(ngModel)]="employee.phone"/>
                      <label for="phone-input">{{ 'employes.add.info_phone' | translate }}</label>
                      <div *ngIf="formErrors.phone" class="alert alert-danger">
                        {{ formErrors.phone }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-field">
                  <input type="email" id="email-input" name="email"  #email="ngModel"
                         required class=" email" (change)="verifForm()"
                          [(ngModel)]="employee.email"/>
                  <label for="email-input">{{ 'employes.add.info_email' | translate }}</label>
                  <div *ngIf="formErrors.email" class="alert alert-danger">
                    {{ formErrors.email }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col m6 l6 s12">
              <div class="input-field">
                <input type="text" id="cin-input" name="cin" #cin="ngModel"
                       class="cin" forbiddenCin
                       [(ngModel)]="employee.cin" (change)="verifCin()"
                />
                <label for="cin-input">{{ 'employes.add.cin' | translate }}</label>
              </div>
              <div class="input-field">
                <input type="email" id="gmail-input" name="gmail"  #gmail="ngModel"
                       class=" gmail"
                       [(ngModel)]="employee.gmail"/>
                <label for="gmail-input">{{ 'employes.add.emailGmail' | translate }}</label>
              </div>
              <div class="input-field">
                <div class="row">
                  <div class="col s3 m3">
                    <label >{{ 'employes.add.birthday' | translate }}</label>
                  </div>
                  <div class="col s9 m9">
                    <ng2-datepicker id="birthday" [options]="options" [(ngModel)]="employee.birthday_date" name="birthday_Date"></ng2-datepicker>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <select id="input-add-employe-situation-familliale" name="situation_familiale" #situation_familiale="ngModel" [(ngModel)]="employee.situation_familiale" materialize="material_select"
                          [materializeSelectOptions]="selectOptions">
                    <option value="" disabled selected>{{'employes.add.info_type_option' | translate }}</option>
                    <option *ngFor="let s of situationsFamilliales" [ngValue]="s.value">{{s.libelle | translate }}</option>
                  </select>
                  <label for="input-add-employe-situation-familliale" >{{'employes.add.situation_familliale.info' | translate }}</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                <select id="input-add-employe-roles" name="role" #apply="ngModel" [(ngModel)]="employee.role" materialize="material_select"
                [materializeSelectOptions]="selectOptions">
                <option value="" disabled selected>{{'employes.add.info_type_option' | translate }}</option>
                <option *ngFor="let role of roles" [value]="role.value">{{role.libelle}}</option>
                </select>
                <label for="input-add-employe-roles" >{{'employes.add.info_role' | translate }}</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!--{{ CurrentCandidat }}-->
        <button id="submit" class="waves-effect waves-green btn-flat " [class.disabled]="disabled" (click)="handleEmploye() ; employeeForm.reset()">{{
          'employes.add.envoyer' | translate }}</button>
        <a class="waves-effect waves-green btn-flat" (click)="employeeForm.reset()" href="/employees" >{{ 'employes.add.cancel'| translate
          }}</a>
      </div>
    </div>
  </div>
</section>
