<div class="cras-create" *ngIf="cra && customers && voter">
  <section class="content-wrap">
    <div class="row">
      <h1>{{ 'cras.modal_add.title_section' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col s12">
        <app-cras-form [cra]="cra" [customers]="customers" [isCreationStrategy]="true"></app-cras-form>
      </div>
    </div>
  </section>
</div>