<section class="content-wrap">
  <div class="row">
    <div *ngIf="cra" id="tab1" class="col s12">
      <div class="row">
        <div class="cra-content">
          <div class="row">
            <h1>{{ 'cras.view.title' | translate }}</h1>
          </div>
          <div class="craview cra-view"  *ngIf="cra">
            <p>
              <span><b>{{ 'cras.view.titleView' | translate  }}:</b> {{ cra.getTitle()}}</span><br>
              <span><b>{{ 'cras.view.employee' | translate  }}:</b> {{ cra.customer.last_name}}</span><br>
              <span><b>{{ 'cras.view.description' | translate  }}:</b> {{ cra.getDescription()}}</span><br>
              <span><b>{{ 'cras.view.distance' | translate  }}:</b> {{ cra.getDistance()}}</span><br>
              <span><b>{{ 'cras.view.started_at' | translate  }}:</b> {{ cra.getStarted_at()}}</span><br>
              <span><b>{{ 'cras.view.ended_at' | translate  }}:</b> {{ cra.getEnded_at()}}</span><br>
              <span><b>{{ 'cras.view.time' | translate  }}:</b> {{ cra.getTime_journey()}} h</span><br>
              <span><b>{{ 'cras.view.employee' | translate  }}:</b> {{ cra.employee.last_name}}  {{ cra.employee.first_name}}</span>
              <span *ngFor="let t of cra.typeJobArray" >
                <span *ngIf="t.id === cra.type_job"><b>{{ 'cras.view.type' | translate  }}:</b> {{ t.label }}</span><br>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>