<section class="content-wrap">
    <div class="row">
        <div class="page-intra">
            <div class="section">
                <div class="employesliste">
                    <div class="#">
                        <div class="row">
                            <h1>{{ 'employes.list.title' | translate }}</h1>
                        </div>
                        <div class="row">
                            <div class="col s12 right-align">
                                <button class="btn waves-effect deep-orange accent-2 waves-light" [routerLink]="['create']">+ {{ 'employes.add_employe' | translate }}</button>
                            </div>
                        </div>
                        <table  id="employes"  [class.active]="isActive(charge)" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>{{ 'employes.last_name' | translate }}</th>
                                    <th>{{ 'employes.first_name' | translate }}</th>
                                    <th>{{ 'employes.role' | translate }}</th>
                                    <th style="{width: 270px}">{{ 'employes.birthday' | translate }}</th>
                                    <th>{{ 'employes.email' | translate }}</th>
                                    <!--<th>{{ 'employes.phone'| translate }}</th>-->
                                    <th class="action-buttom">{{ 'employes.actions'| translate  }}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="charge != false">
                                <tr *ngFor="let emp of employes">
                                    <td>{{ emp.getLastname() }}</td>
                                    <td>{{ emp.getFirstname() }}</td>
                                    <td>{{ emp.getUser().getRole() }}</td>
                                    <td>{{ emp.getFormatedDateToString(emp.getBirthdayDate()) }}</td>
                                    <td>{{ emp.getEmail() }}</td>
                                    <!--<td>{{ emp.getPhone() }}</td>-->
                                    <td >
                                        <a type="button" [routerLink]="['view/', emp.getId()]" class="btn-floating waves-effect waves-light green  tooltipped" data-tooltip="cliquer pour en voir plus" data-position="bottom" data-delay="50" ><i class="small material-icons">visibility</i></a>
                                        <a type="button" [routerLink]="['update/', emp.getId()]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modifier"><i class="small material-icons">create</i></a>
                                        <a type="button" (click)="delete(emp.getId())" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Supprimer"><i class="small material-icons">delete</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
