<div class="skill-list" *ngIf="skills">

    <div class="row">

        <div class="col s12 right-align">
            <button *ngIf="voter" class="btn waves-effect deep-orange accent-2 waves-light" [routerLink]="['create']">+ Créer une coméptence</button>
        </div>

        <div class="col s12">
            <table id="news" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Label</th>
                        <th class="action-buttom">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s  of skills">
                        <td>{{ s.getDescription() }}</td>
                        <td>{{ s.getLabel() }}</td>
                        <td>
                            <a *ngIf="voter" type="button" [routerLink]="['update/', s.getId()]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modifier"><i class="small material-icons">create</i></a>
                            <a *ngIf="voter" type="button" (click)="deleteSkill(s.getId())" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Supprimer"><i class="mdi-action-delete"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
