<div class="holiday-form">
    <div class="row" *ngIf="holiday">

        <div *ngIf="!this.isCreationStrategy">
            {{ 'holidays.validateAt' | translate }} {{ holiday.validated_at }}<br>
            {{ 'holidays.state' | translate }} {{ holiday.stateArray[holiday.state -1].label }}
        </div>

        <form #holidayForm="ngForm" class="col s12" (ngSubmit)="handleHoliday()">

            <div class="row">
                <div class="input-field col s12">
                    <div class="row">
                        <div class="col s2">
                            <label for="startedat">{{ 'holidays.startingDate' | translate }}</label>
                        </div>
                        <div class="col s10">
                            <ng2-datepicker id="startedat" [options]="optionsStartedAt" [(ngModel)]="startedat" name="startedat"></ng2-datepicker>
                            <div *ngIf="formErrors.startedat" class="alert alert-danger">
                              {{ formErrors.startedat }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12">
                    <div class="row">
                        <div class="col s2">
                            <label for="endedat">{{ 'holidays.endingDate' | translate }}</label>
                        </div>
                        <div class="col s10">
                            <ng2-datepicker id="endedat" [options]="optionsEndedAt" [(ngModel)]="endedat" name="endedat"></ng2-datepicker>
                            <div *ngIf="formErrors.endedat" class="alert alert-danger">
                              {{ formErrors.endedat }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <div class="row">
                        <div class="col s2">
                            <label for="reason">{{ 'holidays.reason' | translate }}</label>
                        </div>
                        <div class="col s5">
                          <select id="reason" [(ngModel)]="holiday._reason" name="reason" materialize="material_select">
                            <option>--- Choisir une raison ---</option>
                            <option *ngFor="let r of holiday.reasonsArray" [value]="r.id">{{ r.label }}</option>
                          </select>
                          <div *ngIf="formErrors.reason" class="alert alert-danger">
                            {{ formErrors.reason }}
                          </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action" *ngIf="holiday._state === 1 || holiday._state === 3" [disabled]="!holidayForm.form.valid">{{ 'holidays.modal_add.valid' | translate }}</button>
                    <a class="btn waves-effect waves-light" href="/holidays">{{ 'holidays.modal_add.cancel' | translate }}</a>
                </div>
            </div>
        </form>

    </div>
</div>
