<div class="expense-account-root">
    <section class="content-wrap">
        <div class="row">
            <h1>{{ 'skills.name' | translate }}</h1>
        </div>
        <div class="row">
            <div class="col s12" *ngIf="voter">
                <ul class="tabs" materialize="tabs">
                    <li class="tab col s3"><a class="active" href="#tab1">{{ 'skills.tab' | translate }}</a></li>
                    <li class="tab col s3"><a href="#tab2">{{ 'skills.collaborateurs' | translate }}</a></li>
                </ul>
            </div>
            <div id="tab1" class="col s12">
                <app-skill-list></app-skill-list>
            </div>
            <div *ngIf="voter" id="tab2" class="col s12">
                <app-skill-employee></app-skill-employee>
            </div>
        </div>
    </section>
</div>
