<!-- <div class="row dashboard">

<section class="message col m12 l12 s12">
<p>Bienvenue User A,<br>
Nous sommes le . Il fait 10°C à Lyon.</p>
<span class="line"></span>
</section>

<article class="col m5 l5 s12 offset-m1 offset-l1">
<div class="row articleRow">

<div class="col l6 s12 12 center">
<i class="fa fa-line-chart"></i>
</div>
<div class="col l6 s12 12">
<ul>
<li *ngFor="let candidature of recentlyWatchedCandidates"> {{candidature}}</li>
</ul>
</div>

<div class="button center">
<a  routerLink="/candidatures"  class="waves-effect waves-light btn-large">{{ 'candidatures.title' | translate }}</a>
</div>
</div>
</article>

<article class="col m5 l5 s12">
<div class="articleRow row">

<div class="col l6 s12 12 center">
<i class="fa fa-newspaper-o"></i>
</div>
<div class=" col l6 s12 12">
<p> <span>2</span> {{ 'collaborateur.nouveau_collaborateur' | translate }}</p>
</div>

<div class="button center">
<a class="waves-effect waves-light btn-large">{{ 'collaborateur.collaborateurs' | translate }}</a>
</div>
</div>
</article>

<article class="col m5 l5 s12 offset-m1 offset-l1">
<div class="articleRow row">

<div class="col l6 s12 12 center">
<i class="fa fa-newspaper-o"></i>
</div>
<div class="col l6 s12 12">
<p>Ceci est une actualite</p>
</div>

<div class="button center">
<a class="waves-effect waves-light btn-large">{{ 'actualite.name' | translate }}</a>
</div>
</div>
</article>

<article class="col m5 l5 s12">
<div class="articleRow row">

<div class="col l6 s12 12 center">
<i class="fa fa-user"></i>
</div>
<div class=" col l6 s12 12">
<p> <span>5</span> {{ 'mail.nouveau_mail' | translate }}</p>
</div>

<div class="button center">
<a class="waves-effect waves-light btn-large">Mails</a>
</div>
</div>
</article>

</div> -->
<section class="content-wrap">
    <div class="row">

        <div class="col l4 s12" *ngIf="jobprofile">
            <a routerLink="jobs/" class="card-panel stats-card indigo lighten-2 indigo-text text-lighten-5">
                <i class="fa fa-cart-plus"></i>

                <span class="count">{{ jobprofilePublished }} / {{ jobprofileNotPublished }}</span>
                <div class="name">{{ 'jobprofile.title' | translate }} {{ 'jobprofile.titlePublished' | translate }} / {{ 'jobprofile.titleNotPublished' | translate }}</div>
            </a>
        </div>

        <div class="col l4 s12" *ngIf="news">
            <a routerLink="news/" class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
                <i class="fa fa-newspaper-o"></i>

                <span class="count">{{ newsPublished }} / {{ newsNotPublished }}</span>
                <div class="name">{{ 'news.title' | translate }} {{ 'news.titlePublished' | translate }} / {{ 'news.titleNotPublished' | translate }}</div>
            </a>
        </div>

        <div class="col l4 s12" *ngIf="holiday">
            <a routerLink="holidays/" class="card-panel stats-card red lighten-2 red-text text-lighten-5">
                <i class="fa fa-tag"></i>

                <span class="count">{{ holidayPending }} / {{ holidayTodo }}</span>
                <div class="name">{{ 'holidays.title' | translate }} {{ 'holidays.titlePublished' | translate }} / {{ 'holidays.titleNotPublished' | translate }}</div>
            </a>
        </div>

    </div>

    <div class="row">
        <div class="col l6 s12" *ngIf="news">
            <div class="card">

                <div class="title">
                    <h5>{{ 'news.title' | translate }}</h5>
                    <a class="close" href="#">
                        <i class="mdi-content-clear"></i>
                    </a>
                </div>

                <div class="contentNews" *ngFor="let news of newsArray">

                    <div class="row" style="margin-top: 0px;">
                        <div class="col s8 titleContent" [innerHTML]="news.getTitle()"></div>
                        <div class="col s4 right-align">
                            <small>{{ news.getDateNews() }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12" [innerHTML]="news.getContent() | truncate : 250"></div>
                    </div>
                </div>

            </div>
        </div>

        <!-- <div class="col l6 s12">
            <div class="card">

                <div class="title">
                    <h5>{{ 'mail.title' | translate }}</h5>
                    <a class="close" href="#">
                        <i class="mdi-content-clear"></i>
                    </a>
                </div>

                <div class="contentNews">

                    <div class="row" style="margin-top: 0px;">
                        <div class="col s8 titleContent" [innerHTML]=""></div>
                        <div class="col s4 right-align">
                            <small>test</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12" [innerHTML]=""></div>
                    </div>
                </div>

            </div>
        </div> -->
    </div>
</section>
