<section class="content-wrap">

    <div class="row">
        <h1>{{ 'jobprofile.title' | translate }}</h1>

        <div class="col s12 right-align" *ngIf="voter">
          <button class="btn waves-effect deep-orange accent-2 waves-light" [routerLink]="['create']">+ {{ 'jobprofile.add_jobprofile' | translate }}</button>
        </div>

        <div class="col s12">

            <table id="jobprofile" *ngIf="jobprofileCommon" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
                <thead>
                    <tr>
                        <th>{{ 'jobprofile.label' | translate }}</th>
                        <th>{{ 'jobprofile.description' | translate }}</th>
                        <th>{{ 'jobprofile.salary' | translate }}</th>
                        <th>{{ 'jobprofile.expertise' | translate }}</th>
                        <th>{{ 'jobprofile.isValid' | translate }}</th>
                        <th class="action-  buttom">{{ 'jobprofile.actions'| translate  }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let jobprofile  of jobprofileCommon">
                        <td>{{ jobprofile._label }}</td>
                        <td>{{ jobprofile._description }}</td>
                        <td>{{ jobprofile._salary }}</td>
                        <td>{{ jobprofile._expertise }}</td>
                        <td>
                            <a class="btn-floating waves-effect waves-light grey tooltipped " *ngIf="jobprofile._published == 1">
                                <i class="small material-icons">done</i>
                            </a>
                            <a class="btn-floating waves-effect waves-light grey tooltipped " (click)="validJob(jobprofile)" *ngIf="jobprofile._published == 0">
                                <i class="small material-icons">clear</i>
                            </a>
                        </td>
                        <td>
                            <a type="button" (click)="offersJobProfile(jobprofile._id)"
                                class="btn-floating waves-effect waves-light deep-orange accent-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Offres">
                                <i class="small material-icons">supervisor_account</i></a>
                            <a type="button" [routerLink]="['update/', jobprofile._id]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom"
                                data-delay="50" data-tooltip="Modifier">
                                <i class="small material-icons">create</i></a>
                            <a type="button" (click)="deleteJobProfile(jobprofile._id)" *ngIf="voter"
                                class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Supprimer">
                                <i class="mdi-action-delete"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</section>
