<section class="content-wrap">

    <div class="row">
        <h1>{{ 'profile.title' | translate }}</h1>
    </div>

    <div class="row" *ngIf="employee">
        <div class="col s12">
            <div class="card blue-grey">
                <div class="card-content white-text">
                    <span class="card-title"><i class="fa fa-address-card" aria-hidden="true"></i> {{ employee.first_name }} {{ employee.last_name}}</span>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <ul class="collection">
              <li class="collection-item"><i class="fa fa-birthday-cake" aria-hidden="true"></i> {{ employee.birthday_date.date | date:'dd/MM/yyyy' }}</li>
              <li class="collection-item"><i class="fa fa-heart" aria-hidden="true"></i> {{ employee.situation_familiale }}</li>
              <li class="collection-item"><i class="fa fa-credit-card" aria-hidden="true"></i> {{ employee.cin }}</li>
              <li class="collection-item"><i class="fa fa-envelope" aria-hidden="true"></i> {{ employee.email }}</li>
            </ul>
        </div>

        <div class="col s12 m6">
            <ul class="collection">
              <li class="collection-item"><i class="fa fa-home" aria-hidden="true"></i> {{ employee.address }}</li>
              <li class="collection-item"><i class="fa fa-home" aria-hidden="true"></i> {{ employee.city }}</li>
              <li class="collection-item"><i class="fa fa-home" aria-hidden="true"></i> {{ employee.zip_code }}</li>
            </ul>
        </div>
    </div>

</section>
