<div class="application-update" *ngIf="voter && application">
  <section class="content-wrap">
    <div class="row">
      <h1>Modification d'une candidature</h1>
    </div>
    <div class="row">
      <div class="col s12" *ngIf="application">
        <app-application-form [application]="application" [isCreationStrategy]="false"></app-application-form>
      </div>
    </div>
  </section>
</div>
