<div class="expense-account-update">
  <section class="content-wrap">
    <div class="row">
      <h1>Modification d'une note de frais</h1>
    </div>
    <div class="row">
      <div class="col s12" *ngIf="expenseAccount">
        <app-expense-account-form [expenseAccount]="expenseAccount" [isCreationStrategy]="false"></app-expense-account-form>
      </div>
    </div>
  </section>
</div>
