<div class="skill-employee" *ngIf="employees">

    <form #skillsForm="ngForm" (ngSubmit)="handleSkills()">

        <div class="row">
            <div class="col s12 l3">
                <select id="employee" [(ngModel)]="employee" name="employee" materialize="material_select" (change)="onEmployeeChange($event)" *ngIf="voter">
                    <option selected>--- Choisir un employé ---</option>
                    <option *ngFor="let e of employees" [value]="e.getId()">{{ e.getFirstname() }} {{ e.getLastname() }}</option>
                </select>
            </div>
            <div class="col s12 l9 right-align" *ngIf="voter && idEmployee > 0">
                <button class="btn waves-effect deep-orange accent-2 waves-light" type="submit">{{ 'groupware.buttonGroupware' | translate }}</button>
            </div>
        </div>

        <div class="s12">
            <table id="skillEmployee" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0" *ngIf="idEmployee > 0">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th class="action-buttom">Valider/Invalider</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s  of skills">
                        <td>{{ s.getLabel() }}</td>
                        <td>
                            <input type="checkbox" id="{{ s.getId() }}" name="{{ s.getId() }}"
                                (change)="onChanged(idEmployee+'-'+s.getId(), $event.target.checked)"
                                checked="{{ this.returnEmplopyeeSkill[idEmployee+'-'+s.getId()] }}"
                                />
                            <label for="{{ s.getId() }}"> </label>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>

</div>
