<div class="customer-create">
  <section class="content-wrap">
    <div class="row">
      <h1>Création d'une entreprise</h1>
    </div>
    <div class="row">
      <div class="col s12">
        <app-customers-form  [customer]="customer"  [isCreationStrategy]="true" ></app-customers-form>
      </div>
    </div>
  </section>
</div>