<div class="offer-form">
    <div class="row" *ngIf="offer">

        <form #offerForm="ngForm" class="col s12" (ngSubmit)="handleOffer()">

            <div class="row">
                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s2">
                            <label for="name">{{ 'offer.name' | translate }}</label>
                        </div>
                        <div class="col s10">
                            <input type="text" class="validate" id="name" required minlength="3" maxlength="50" [(ngModel)]="offer.name" name="name">
                            <div *ngIf="formErrors.name" class="alert alert-danger">
                              {{ formErrors.name }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s2">
                            <label for="reference">{{ 'offer.reference' | translate }}</label>
                        </div>
                        <div class="col s10">
                            <input type="text" class="validate" id="reference" required minlength="3" maxlength="100" [(ngModel)]="offer.reference" name="reference">
                            <div *ngIf="formErrors.reference" class="alert alert-danger">
                              {{ formErrors.reference }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s3">
                            <label for="start_at">{{ 'offer.start_at' | translate }}</label>
                        </div>
                        <div class="col s9">
                            <ng2-datepicker id="start_at" [options]="optionsStartAt" [(ngModel)]="start_at" name="start_at" required></ng2-datepicker>
                            <div *ngIf="formErrors.start_at" class="alert alert-danger">
                              {{ formErrors.start_at }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s3">
                            <label for="end_at">{{ 'offer.end_at' | translate }}</label>
                        </div>
                        <div class="col s9">
                            <ng2-datepicker id="end_at" [options]="optionsEndAt" [(ngModel)]="end_at" name="end_at" required></ng2-datepicker>
                            <div *ngIf="formErrors.end_at" class="alert alert-danger">
                              {{ formErrors.end_at }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action" *ngIf="offer._is_valid == 0" [disabled]="!offerForm.form.valid">{{ 'offer.valid' | translate }}</button>
                    <a class="btn waves-effect waves-light" href="/jobs/offers?jobProfile={{ idJobProfile }}">{{ 'offer.cancel' | translate }}</a>
                </div>
            </div>
        </form>

    </div>
</div>
