<div class="customer-update">
  <section class="content-wrap">
    <div class="row">
      <h1>Modifier d'une entreprise</h1>
    </div>
    <div class="row" *ngIf="customer">
      <div class="col s12">
        <app-customers-form [customer]="customer" [isCreationStrategy]="false" ></app-customers-form>
      </div>
    </div>
  </section>
</div>
