<div class="news-form">
  <div class="row">
    <form class="col s12" (ngSubmit)="onSubmit()" #newsForm="ngForm">
      <div class="row">
        <div class="col s6">
          <label for="title">Titre</label>
          <input type="text" class="validate" id="title" required minlength="3" [(ngModel)]="news.title" name="title">
          <div *ngIf="formErrors.title" class="alert alert-danger">
            {{ formErrors.title }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label for="wysiwyg">Contenu</label>
          <ckeditor
            [(ngModel)]="news.content"
            [config]="{uiColor: '#ffffff'}"
            debounce="500"
          name="wysiwyg">
          </ckeditor>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="row">
            <div class="col s2">
              <label for="date">Date</label>
            </div>
            <div class="col s10">
              <ng2-datepicker id="date" [options]="options" [(ngModel)]="date" name="date"></ng2-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p>
            <input type="checkbox" class="validate" id="published" [(ngModel)]="news.published" name="published"/>
            <label for="published">Publier</label>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!newsForm.form.valid" (click)="handleNews(); newsForm.reset()">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
