<div class="expense-account-managed-list">
  <app-expense-common-list-account [voter]="voter" [isManagedStrategy]="true" [expenseAccounts]="expenseAccounts"></app-expense-common-list-account>
</div>

