<div class="employee-update">
  <section class="content-wrap">
    <div class="row">
      <h1>Modifier d'un employé</h1>
    </div>
    <div class="row" *ngIf="employee">
      <div class="col s12">
        <app-employee-form [employee]="employee" [isCreationStrategy]="false" ></app-employee-form>
      </div>
    </div>
  </section>
</div>
