<div class="news-create" *ngIf="voter">
  <section class="content-wrap">
    <div class="row">
      <h1>Création d'une news</h1>
    </div>
    <div class="row">
      <div class="col s12">
        <app-news-form [news]="news" [isCreationStrategy]="true"></app-news-form>
      </div>
    </div>
  </section>
</div>

