<div class="expense-account-common-list" *ngIf="expenseAccounts">
    <div class="row">
      <h1>Liste des notes de frais</h1>
    </div>
    <div class="row">
      <div class="col s12 right-align">
        <button *ngIf="!isManagedStrategy" class="btn waves-effect deep-orange accent-2 waves-light" [routerLink]="['create']">+ Créer une note de frais</button>
      </div>
    </div>
    <div class="row">
      <div class="page-intra">
        <div class="section">
          <table id="expense-accounts" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
            <thead>
            <tr>
              <th>Employé</th>
              <th>Libellé</th>
              <th>Total</th>
              <th>Date</th>
              <th>État</th>
              <th>Validation</th>
              <th class="action-buttom">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expenseAccount  of expenseAccounts">
              <td>{{ expenseAccount.getEmployee().getFirstname() }}</td>
              <td>{{ expenseAccount.getLabel() }}</td>
              <td>{{ expenseAccount.getTotal() }}€</td>
              <td>{{ expenseAccount.getDateExpenseAccount() }}</td>
              <td class="align-center">
                <span *ngIf="expenseAccount.getState() === 3" >Refusée</span>
                <span *ngIf="expenseAccount.getState() === 2">Validé</span>
                <span *ngIf="expenseAccount.getState() === 1">En cours</span>
              </td>
              <td class="align-center" *ngIf="role === rolesMap.rh" >
                <a type="button" (click)="validateExpenseAccount(expenseAccount)" class="btn-floating waves-effect waves-light grey tooltipped" data-position="bottom" data-delay="50">
                  <i *ngIf="expenseAccount.getState() === 3" class="small material-icons" title="Accepter">clear</i>
                  <i *ngIf="expenseAccount.getState() === 2" class="small material-icons" title="Refuser">done</i>
                  <i *ngIf="expenseAccount.getState() === 1" class="small material-icons" title="Refuser">crop_square</i>
                </a>
              </td>
              <td>
                <a type="button" [routerLink]="['update/', expenseAccount.getId()]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modifier"><i class="small material-icons">create</i></a>
                <a type="button" (click)="deleteExpenseAccount(expenseAccount.getId())" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Supprimer"><i class="small material-icons">delete</i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
