/*
* Design nav and footer
*/
header > nav, footer.page-footer > .footer-copyright { background-color: #303239 !important }
footer.page-footer { margin:0; padding:0 }

/*
* Main
*/
.page-intra { background-image: url('../img/site/background/dashboard-background.jpg'); background-repeat: no-repeat; background-size: 100% 100%}
.page-connexion{
    background: url('../img/site/background/pattern1.png') ;
    color: #555;
}
/*
* Footer stuck
*/
app-root { display: flex; min-height: 100vh; flex-direction: column; }
app-root > main { flex: 1 0 auto; }
