<div class="cras-update" *ngIf="voter && cra">
  <section class="content-wrap">
    <div class="row">
      <h1>{{ 'cras.modal_edit.title_section' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col s12" *ngIf="cra">
        <app-cras-form [cra]="cra" [customers]="customers" [isCreationStrategy]="false"></app-cras-form>
      </div>
    </div>
  </section>
</div>