<section class="content-wrap">

    <div class="row">
        <h1>{{ 'groupware.title' | translate }}</h1>
    </div>

    <form #groupwareForm="ngForm" class="row" (ngSubmit)="handleGroupware()" *ngIf="voter">

        <div class="col s12 right-align">
            <button class="btn waves-effect deep-orange accent-2 waves-light" type="submit">{{ 'groupware.buttonGroupware' | translate }}</button>
        </div>

        <div class="col s12" *ngIf="groupware">

            <table id="groupware" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
                <thead>
                    <tr>
                        <th>{{ 'groupware.tableHeadUsers' | translate }}</th>
                        <th *ngFor="let item of groupware._roles">{{ item.label }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemEmployee of groupware._employees">
                        <td>{{ itemEmployee.getFirstname() }} {{ itemEmployee.getLastname() }}</td>
                        <td *ngFor="let itemRole of groupware._roles">
                            <input type="radio" name="{{ itemEmployee.getId() }}" id="{{ itemRole.label+'-'+itemEmployee.getId() }}"
                                (change)="onChanged(itemEmployee.getId(),itemRole.label)" checked="{{ groupware._employeesRoles[itemRole.label+'-'+itemEmployee.getId()] }}">
                            <label for="{{ itemRole.label+'-'+itemEmployee.getId() }}"></label>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </form>

</section>
