<section class="content-wrap">

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red tooltipped" data-position="left" data-tooltip="Envoyer">
            <i class="mdi-content-send"></i>
        </a>
    </div>


    <div class="row mail-compose">

        <div class="col s12 m3">
            <div class="card-panel">
                <app-emailsidebar></app-emailsidebar>
            </div>
        </div>

        <div class="col s12 m9">

            <div class="card-panel">

                <form action="#!">
                    <!-- To -->
                    <div class="input-field">
                        <input id="input_to" type="email" class="validate" value="john.doe@inbox.my" name="to" [(ngModel)]="email.email">
                        <label [ngClass]="{'active': isClassActive }" for="input_to">{{
                          'mail.input.to' | translate }}</label>
                    </div>
                    <!-- /To -->

                    <!-- Subject -->
                    <div class="input-field">
                        <input id="input_subject" type="text" class="validate" name="subject" [(ngModel)]="email.subject">
                        <label [ngClass]="{'active': isClassActive }" for="input_subject">{{
                          'mail.input.subject' | translate }}</label>
                    </div>
                    <!-- /Subject -->

                    <!-- Message -->
                    <textarea name="message" id="ckeditor-msg" [(ngModel)]="email.message">
                        <p>
                            Donec lacinia dignissim elementum. <strong>Aenean sit</strong> amet justo ornare, pharetra nisl eu, ultricies justo. Praesent imperdiet vel augue in posuere. <a href="#!">Pellentesque</a> a consequat risus. Vestibulum cursus nisl aliquet leo viverra, ac placerat felis tempor. Sed in felis sed odio fermentum venenatis vitae ac nulla. Nam quis mollis leo. Etiam in lacus ligula.
                        </p>

                        <p>
                            <a href="#!">Vestibulum</a> enim nunc, rhoncus vitae velit sed, <strong>tempus vulputate</strong> libero. Fusce at sapien elit. Donec maximus et lectus ac convallis. Mauris maximus pretium metus in tempus. Aliquam erat volutpat. Integer et ante eget sapien pulvinar vulputate. Nullam vel enim sed odio fringilla congue. Aliquam pellentesque feugiat purus sed laoreet.
                        </p>
                    </textarea>
                    <!-- /Message -->

                </form>
            </div>

        </div>

    </div>

    <script>
        CKEDITOR.replace( 'ckeditor-msg' );
    </script>
</section>
