<div class="employee-create">
  <section class="content-wrap">
    <div class="row">
      <h1>Création d'un employé</h1>
    </div>
    <div class="row">
      <div class="col s12">
        <app-employee-form  [employee]="employee"  [isCreationStrategy]="true" ></app-employee-form>
      </div>
    </div>
  </section>
</div>
