<section class="content-wrap">
<div class="offer-update" *ngIf="voter">
    <div class="row">
      <h1>{{ 'offer.update_offer' | translate }}</h1>
    </div>
    <div class="row" *ngIf="offer">
      <div class="col s12">
        <app-offer-form [offer]="offer" [idJobProfile]="idJobProfile" [isCreationStrategy]="false"></app-offer-form>
      </div>
    </div>
</div>
</section>
