<div class="cras-common-list" >
    <div class="row">
      <h1>{{ 'cras.list.title' | translate }}</h1>
    </div>
    <div class="row">
      <div class="col s12 right-align">
        <button *ngIf="!isManagedStrategy" class="btn waves-effect deep-orange accent-2 waves-light" [routerLink]="['create']">+ {{ 'cras.add_cra' | translate }}</button>
      </div>
    </div>
    <div class="row">
      <div class="page-intra">
        <div class="section">
          <table id="cras" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
            <thead>
            <tr>
              <th>{{ 'cras.list.employee' | translate }}</th>
              <th>{{ 'cras.list.customer' | translate }}</th>
              <th>{{ 'cras.list.recorder_at' | translate }}</th>
              <th>{{ 'cras.list.start_at' | translate }}</th>
              <th>{{ 'cras.list.ended_at' | translate }}</th>
              <th>{{ 'cras.list.etat' | translate }}</th>
              <th *ngIf="voter">{{ 'cras.list.validate' | translate }}</th>
              <th class="action-buttom">{{ 'cras.list.action' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cra  of cras">
              <td>{{ cra.employee.first_name }}</td>
              <td>{{ cra.customer.first_name }}</td>
              <td>{{ cra.getRecorded_at() }}</td>
              <td>{{ cra.getStarted_at() }}</td>
              <td>{{ cra.getEnded_at() }}</td>
              <td class="align-center">
                <span *ngIf="cra.getState() === 3" >Refusée</span>
                <span *ngIf="cra.getState() === 2">Validé</span>
                <span *ngIf="cra.getState() === 1">En cours</span>
              </td>
              <td *ngIf="voter" class="align-center">
                <a type="button" (click)="validate(cra)" class="btn-floating waves-effect waves-light grey tooltipped" data-position="bottom" data-delay="50">
                  <i *ngIf="cra.getState() === 3" class="small material-icons" title="Accepter">clear</i>
                  <i *ngIf="cra.getState() === 2" class="small material-icons" title="Refuser">done</i>
                  <i *ngIf="cra.getState() === 1" class="small material-icons" title="Refuser">crop_square</i>
                </a>
              </td>
              <td>
                <a type="button" [routerLink]="['view/', cra.getId()]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Voir"><i class="mdi-action-visibility"></i></a>
                <a type="button" [routerLink]="['update/', cra.getId()]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modifier"><i class="small material-icons">create</i></a>
                <a type="button" (click)="delete(cra.getId())" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Supprimer"><i class="mdi-action-delete"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
