<!-- <div class="row descriptiontent">

    <div class="col s3 sidebarContainer">
        <router-outlet name="navbaraside"></router-outlet>
    </div>
    <div class="col s9 offset-s3 mainContainer">

        <router-outlet name="header"></router-outlet>
        <router-outlet name="navbar"></router-outlet>

        <router-outlet></router-outlet>

    </div>

</div>

<router-outlet name="footer"></router-outlet> -->

<router-outlet name="header"></router-outlet>
<router-outlet name="navbaraside"></router-outlet>

<router-outlet></router-outlet>

<router-outlet name="footer"></router-outlet>

<div class="cookie-bar card grey lighten-2" *ngIf="_showCookieBar">
    <div class="title cookie-bar-title row">
        <p class="col s11">
            {{ 'cookie.message' | translate }}
        </p>
        <p class="col s1">
            <a (click)="createCookie()" class="btn btn-small btn-rounded">{{ 'cookie.button' | translate }}</a>
        </p>
    </div>
</div>
