.cookie-bar {
    width: 100%;
    bottom: 0;
    background-color: #F9F9F9;
    z-index: 1006;
    position: fixed;
}
.cookie-bar-title > .s1 {
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center;
    height: 100%;
    position: absolute;
    right: 5px;
    top: 0;
}
.cookie-bar-title > .col {
    padding:0;
    margin:0
}
.cookie-bar-title {
    margin-bottom: 0px;
    margin-top: 0px;
}
