<div class="cra-root">
  <section class="content-wrap">
    <div class="row">
      <div class="col s12"  *ngIf="voter">
        <ul class="tabs" materialize="tabs">
          <li class="tab col s3"><a class="active" href="#tab1">{{ 'cras.tab.myCra' | translate }}</a></li>
          <li class="tab col s3"><a href="#tab2">{{ 'cras.tab.allCra' | translate }}</a></li>
        </ul>
      </div>
      <div id="tab1" class="col s12">
        <app-cras-self-list-account [voter]="voter"></app-cras-self-list-account>
      </div>
      <div *ngIf="voter" id="tab2" class="col s12">
        <app-cras-managed-list-account [voter]="voter"></app-cras-managed-list-account>
      </div>
    </div>
  </section>
</div>
