<ul class="mail-sidebar">

    <li class="active">
        <a routerLink="/email"><i class="fa fa-inbox"></i> {{ 'mail.inbox' | translate}}</a>
    </li>
    <li class="active">
        <a routerLink="/email/creer"><i class="fa fa-edit"></i> {{ 'mail.compose' | translate}}</a>
    </li>
    <!-- <li>
        <a href="mail-inbox.html"><i class="mdi-device-access-time"></i> Snoozed</a>
    </li>
    <li>
        <a href="mail-inbox.html"><i class="mdi-action-done"></i> Done</a>
    </li> -->


    <!-- <li><hr></li> -->

    <!-- <li>
        <a href="mail-inbox.html"><i class="descriptiontent-send"></i> Sent</a>
    </li>
    <li>
        <a href="mail-inbox.html"><i class="mdi-action-delete"></i> Trash</a>
    </li>
    <li>
        <a href="mail-inbox.html"><i class="descriptiontent-report"></i> Spam</a>
    </li> -->


    <!-- <li><hr></li> -->

    <!-- <li>
        <a href="mail-inbox.html"><i class="mdi-device-airplanemode-on"></i> Travel</a>
    </li>
    <li>
        <a href="mail-inbox.html"><i class="mdi-action-shopping-cart"></i> Purchases</a>
    </li>
    <li>
        <a href="mail-inbox.html"><i class="mdi-social-group"></i> Social</a>
    </li>
    <li>
        <a href="mail-inbox.html"><i class="mdi-file-cloud-download"></i> Updates</a>
    </li>
    <li>
        <a href="mail-inbox.html"><i class="mdi-communication-forum"></i> Forums</a>
    </li> -->
</ul>
