
<div class="containerParent">
    <div class="content">
        <div class="title">{{ code }}</div>
        <div class="quote">{{ message }}</div>
        <div class="explanation">
            <br>
            <small>

            </small>
        </div>
    </div>
</div>
