
.containerParent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100%;
    color: #B0BEC5;
    background-color: #fff;
    font-weight: 100 !important;
    font-family: 'Lato' !important;
}

.content {
    text-align: center;
    height: 100vh;
    width:100%;
    display:table-cell;
}

.title {
    font-size: 156px;
}

.quote {
    font-size: 36px;
}

.explanation {
    font-size: 24px;
}
