<div class="application-create" *ngIf="application && offers && voter">
  <section class="content-wrap">
    <div class="row">
      <h1>Création d'une candidature</h1>
    </div>
    <div class="row">
      <div class="col s12">
        <app-application-form [application]="application" [offers]="offers" [isCreationStrategy]="true"></app-application-form>
      </div>
    </div>
  </section>
</div>
