<section class="content-wrap">
    <div class="holidays-create" *ngIf="voter">
        <div class="row">
            <h1>{{ 'holidays.add_holiday' | translate }}</h1>
        </div>
        <div class="row" *ngIf="holiday">
            <div class="col s12">
                <app-holidays-form [holiday]="holiday" [isCreationStrategy]="true"></app-holidays-form>
            </div>
        </div>
    </div>
</section>
