.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container > .center > img {
  width: calc(20% - 25px)
}

form {
    padding: 0px 16px 16px 16px !important
}

.divLogin {
    display: inline-block;
    padding: 48px;
    border: 1px solid #EEE;
}

.input-field {
    padding-right: 0px !important
}
