<section class="content" style="background-image: url('assets/img/site/background/dashboard-background.jpg')">

    <div class="container center">

        <div class="center"><img src="assets/img/site/logo.png" /></div>

        <div class="divLogin z-depth-1 grey lighten-4 row">


            <form class="col s12" method="post" (submit)="onSubmitLogin(login)">
                <!--<flash-messages></flash-messages>-->

                <div class='row'>
                    <div class='input-field col s12'>
                        <input type='text' name='user' id='user' #user="ngModel" [(ngModel)]="_login.user" required/>
                        <label for='user'>{{ 'login.user' | translate }}</label>
                    </div>
                </div>

                <div class='row'>
                    <div class='input-field col s12'>
                        <input type='password' name='password' id='password' #password="ngModel" [(ngModel)]="_login.password" required/>
                        <label for='password'>{{ 'login.password' | translate }}</label>
                    </div>
                    <label style='float: right;'>
                        <a href='#!'><b>{{ 'login.forgot' | translate }}</b></a>
                    </label>
                </div>

                <br />

                <div class='row'>
                    <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect'>Login</button>
                </div>

            </form>

            <div class="center"><a href="#!" class="center"><b>{{ 'login.create' | translate }}</b></a></div>
        </div>

    </div>
</section>
