
<section class="content-wrap">

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red tooltipped" data-position="left" data-tooltip="Répondre">
            <i class="mdi-content-send left"></i>
        </a>
        <ul>
            <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Supprimer"><i class="mdi-action-delete left"></i></a></li>
            <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Transférer"><i class="mdi-content-reply left"></i></a></li>
        </ul>
    </div>

    <div class="row mail-view">
        <div class="col s12 m3">
            <div class="card-panel">
                <app-emailsidebar></app-emailsidebar>
            </div>
        </div>

        <div class="col s12 m9">

            <div class="card-panel">

                <!-- Subject -->
                <h3 class="mail-subject">Phasellus ac erat a nisi pharetra volutpat id ultrices tortor.</h3>
                <!-- /Subject -->

                <div class="row">
                    <!-- From -->
                    <div class="col s6">
                        From: <strong>john.doe@inbox.my</strong>
                    </div>
                    <!-- /From -->

                    <!-- Date -->
                    <div class="col s6 right-align">
                        <span>06:32 PM 09 OCT 2015</span>
                    </div>
                    <!-- /Date -->
                </div>

                <hr>

                <!-- Message -->
                <div class="mail-text">
                    Hi, John!

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet imperdiet rutrum. Sed vitae eleifend velit. Nunc pharetra nisl egestas imperdiet laoreet. <strong>Aliquam lobortis</strong> ante porta urna ornare, ut convallis nulla vehicula. Praesent a dui posuere, convallis magna ut, bibendum velit. Duis viverra nisi nulla, sed condimentum purus bibendum eu. Sed a sem quis orci venenatis eleifend. Nam interdum mi sit amet metus pretium, sed viverra justo blandit. Curabitur quis lacus nunc.
                    </p>

                    <p>
                        <strong>Vivamus ligula</strong> ante, feugiat nec justo sit amet, dictum viverra ex. Integer faucibus aliquam ligula. In cursus risus vel erat viverra accumsan. In hac habitasse platea dictumst. Praesent dolor nisi, <a href="#!">luctus vulputate</a> ligula non, posuere convallis orci. Sed scelerisque, urna id viverra mollis, metus nisl pharetra dui, ac aliquet metus velit at nibh. Donec venenatis dignissim viverra. Sed magna metus, convallis eu nulla id, iaculis finibus tortor.
                    </p>

                    <p>
                        In egestas suscipit nibh sit amet venenatis. <a href="#!">Aenean elit</a> orci, rhoncus quis quam nec, ultricies pellentesque urna. Vivamus suscipit orci a ante tristique, a gravida libero porta. Etiam aliquet massa eget est ultrices blandit. Quisque quis mattis dolor. Pellentesque vel laoreet tortor. Duis eu gravida urna, vitae porttitor velit. Nunc ac eleifend metus. Sed vitae tincidunt neque.
                    </p>

                    Best regards, John.
                </div>
                <!-- /Message -->

            </div>

        </div>
    </div>

</section>
