<div class="news-update" *ngIf="voter">
  <section class="content-wrap">
    <div class="row">
      <h1>Modification d'une news</h1>
    </div>
    <div class="row">
      <div class="col s12" *ngIf="news">
        <app-news-form [news]="news" [isCreationStrategy]="false"></app-news-form>
      </div>
    </div>
  </section>
</div>
