<section class="content-wrap">
  <div class="row">
    <div class="page-intra">
      <div class="section">
        <div class="cvliste">
          <div class="#">
            <div class="row">
              <h1>{{ 'cv.list.title' | translate }}</h1>
            </div>
            <div *ngFor="let cv of cvs" class="col s4">
                  <p style="text-align: center;">
                    <object [data]="changeUrl(cv.getSrc())" type="application/pdf" width="200" height="300">
                      alternatif : <a href="{{cv.getSrc()}}">le fichier</a>
                    </object>
                      <!--<iframe [src]="changeUrl(cv.getSrc())" width="200" height="300" align="middle" style="max-width: 100%;"></iframe>-->
                    <a *ngIf="cv.getSrc()" class="waves-light grey darken-4 btn application-view__cv-button" href="{{ cv.getSrc()}}" target="_blank">Voir le CV</a>
                  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>