<div class="skill-update" *ngIf="voter">
  <section class="content-wrap">
    <div class="row">
      <h1>Modification d'une compétence</h1>
    </div>
    <div class="row">
      <div class="col s12" *ngIf="skill">
        <app-skill-form [skill]="skill" [isCreationStrategy]="false"></app-skill-form>
      </div>
    </div>
  </section>
</div>
