<div class="news-list" *ngIf="applications && voter">
  <section class="content-wrap">
    <div class="row">
      <h1>Liste des candidatures</h1>
    </div>
    <div class="row">
      <div class="col s12 right-align">
        <button class="btn waves-effect deep-orange accent-2 waves-light" [routerLink]="['create']">+ Créer une candidature</button>
      </div>
    </div>
    <div class="row">
      <div class="page-intra">
        <div class="section">
          <table id="news" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Référence de l'offre</th>
              <th>État</th>
              <th>Validation</th>
              <th class="action-buttom">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let a of applications">
              <td>{{ a.getLastname()}}</td>
              <td>{{ a.getFirstname()}}</td>
              <td>{{ a.getOffer()._reference}}</td>
              <td class="align-center">
                <span *ngIf="a.getState() === 3" >Refusée</span>
                <span *ngIf="a.getState() === 2">Validé</span>
                <span *ngIf="a.getState() === 1">En cours</span>
              </td>
              <td class="align-center">
                <a type="button" (click)="validateApplication(a)" class="btn-floating waves-effect waves-light grey tooltipped" data-position="bottom" data-delay="50">
                  <i *ngIf="a.getState() === 3" class="small material-icons" title="Accepter">clear</i>
                  <i *ngIf="a.getState() === 2" class="small material-icons" title="Refuser">done</i>
                  <i *ngIf="a.getState() === 1" class="small material-icons" title="Refuser">crop_square</i>
                </a>
              </td>
              <td>
                <a type="button" [routerLink]="['view/', a.getId()]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Voir"><i class="mdi-action-visibility"></i></a>
                <a type="button" [routerLink]="['update/', a.getId()]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modifier"><i class="small material-icons">create</i></a>
                <a type="button" (click)="deleteApplication(a.getId())" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Supprimer"><i class="mdi-action-delete"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
