<div class="expense-account-form">
  <div class="row">
    <form class="col s12" (ngSubmit)="onSubmit()" #expenseAccountForm="ngForm">
      <div class="row">
        <div class="col s6">
          <label for="label">Libéllé</label>
          <input type="text" class="validate" id="label" required minlength="3" maxlength="50" [(ngModel)]="expenseAccount.label" name="label">
          <div *ngIf="formErrors.label" class="alert alert-danger">
            {{ formErrors.label }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label for="description">Description</label>
          <textarea id="description" class="materialize-textarea" maxlength="250" [(ngModel)]="expenseAccount.description" name="description"></textarea>
          <div *ngIf="formErrors.description" class="alert alert-danger">
            {{ formErrors.description }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s3">
          <label for="total">Total</label>
          <input placeholder="" id="total" type="text" class="validate" required [(ngModel)]="expenseAccount.total" name="total">
          <div *ngIf="formErrors.total" class="alert alert-danger">
            {{ formErrors.total }}
          </div>
        </div>
        <div class="col s3">
          <label for="tva">TVA</label>
          <input placeholder="" id="tva" type="text" class="validate" required [(ngModel)]="expenseAccount.tva" name="tva">
          <div *ngIf="formErrors.tva" class="alert alert-danger">
            {{ formErrors.tva }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="file-field">
            <div class="btn deep-orange accent-2">
              <span>Image</span>
              <input type="file" class="form-control" name="file" ng2FileSelect [uploader]="uploader">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="{{filePlaceholder}}">
            </div>
          </div>
        </div>
        <div class="col s6" *ngIf="expenseAccount.image != null">
          <img src="http://{{ expenseAccount.image }}" alt="file" width="50%">
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="row">
            <div class="col s2">
              <label for="date">Date</label>
            </div>
            <div class="col s10">
              <ng2-datepicker id="date" [options]="options" [(ngModel)]="date" name="date"></ng2-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!expenseAccountForm.form.valid" (click)="handleExpenseAccount(); expenseAccountForm.reset()">Valider</button>
        </div>
      </div>
      <app-breadcrumb [link]="'/expense-accounts'"></app-breadcrumb>
    </form>
  </div>
</div>
