<div class="news" *ngIf="news">
  <section class="content-wrap">
    <div class="row">
      <h1>Article : {{ news.getTitle()}}</h1>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content e2e-inner-html-bound" [innerHTML]="news.getContent()"></div>
            <div *ngIf="news.isPublished() === true" class="card-action right-align">
              <i class="small material-icons">done</i> Publié : Oui
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-breadcrumb [link]="'/news'"></app-breadcrumb>
  </section>
</div>
