<aside class="yaybar yay-shrink yay-hide-to-small yay-gestures yay-light yay-static">

    <div class="top">
        <div>
            <!-- Sidebar toggle -->
            <a  class="yay-toggle">
                <div class="burg1"></div>
                <div class="burg2"></div>
                <div class="burg3"></div>
            </a>
            <!-- Sidebar toggle -->

            <!-- Logo -->
            <!-- <a href="#!" class="brand-logo">
            <img src="assets/_con/images/logo-white.png" alt="Con">
        </a> -->
        <!-- /Logo -->
    </div>
</div>


<div class="nano">
    <div class="nano-content">


<ul>
    <li class="logo-navbar">
        <a routerLink="/" class="brand-logo">
            <img src="assets/img/site/logo.png" alt="Con">
        </a>
    </li>
    <li>
        <a routerLink="/">
            <i class="fa fa-dashboard"></i>
            {{ 'menu.home' | translate }}
        </a>
    </li>
    <li>
        <a routerLink="/email">
            <i class="fa fa-envelope"></i>
            {{ 'menu.email' | translate }}
        </a>
    </li>
    <li>
        <a class="waves-effect" routerLink="/news">
            <i class="mdi-action-announcement"></i>
            {{ 'menu.news' | translate }}
        </a>
    </li>
    <li>
        <a class="yay-sub-toggle waves-effect"><i class="fa fa-users"></i>{{ 'menu.rh.title' | translate }}<span class="yay-collapse-icon mdi-navigation-expand-more"></span></a>
        <ul>

            <li><a class="waves-effect" routerLink="/expense-accounts"><i class="fa fa-tags"></i> {{ 'menu.rh.notefrais' | translate }}</a>
            </li>
            <li><a class="waves-effect" routerLink="/holidays"><i class="fa fa-tag"></i> {{ 'menu.rh.holidays' | translate }}</a>
            </li>
            <li *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_MANAGER'|| role == 'ROLE_RH'"><a class="waves-effect" routerLink="/cv"><i class="fa fa-cart-plus"></i> {{ 'menu.rh.cv' | translate }}</a>
            </li>
            <li *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_MANAGER'|| role == 'ROLE_RH'"><a class="waves-effect" routerLink="/jobs"><i class="fa fa-cart-plus"></i> {{ 'menu.rh.offers' | translate }}</a>
            </li>
            <li *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_MANAGER'|| role == 'ROLE_RH'"><a class="waves-effect" routerLink="/applications"><i class="fa fa-users"></i> {{ 'menu.rh.candidates' | translate }}</a>
            </li>
            <li *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_MANAGER'|| role == 'ROLE_RH'"><a class="waves-effect" routerLink="/employees"><i class="fa fa-cog"></i> {{ 'menu.rh.users' | translate }}</a>
            </li>
            <li *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_MANAGER'|| role == 'ROLE_RH'"><a class="waves-effect" routerLink="/customers"><i class="fa fa-industry "></i> {{ 'menu.rh.customers' | translate }}</a>
            </li>
            <li><a class="waves-effect" routerLink="/skills"><i class="fa fa-pie-chart "></i> {{ 'menu.rh.skills' | translate }}</a>
            </li>
            <li><a class="waves-effect" routerLink="/cras"><i class="fa fa-list-alt "></i> {{ 'menu.rh.cras' | translate }}</a>
            </li>
        </ul>
    </li>
    <li *ngIf="voterGroupware">
        <a class="yay-sub-toggle waves-effect"><i class="fa fa-magic"></i>{{ 'menu.admin.title' | translate }}<span class="yay-collapse-icon mdi-navigation-expand-more"></span></a>
        <ul>
            <li><a class="waves-effect" routerLink="/groupware"><i class="fa fa-dashboard"></i> {{ 'menu.admin.users' | translate }}</a>
            </li>
            <!--<li><a class="waves-effect" routerLink=""><i class="fa fa-tags"></i> {{ 'menu.admin.application' | translate }}</a>-->
            <!--</li>-->
        </ul>
    </li>
</ul>

</div>
</div>
</aside>
