<div class="expense-account-root">
  <section class="content-wrap">
    <div class="row">
      <div class="col s12"  *ngIf="voter">
        <ul class="tabs" materialize="tabs">
          <li class="tab col s3"><a class="active" href="#tab1">Mes notes de frais</a></li>
          <li class="tab col s3"><a href="#tab2">Mes collaborateurs</a></li>
        </ul>
      </div>
      <div id="tab1" class="col s12">
        <app-expense-self-list-account [voter]="voter"></app-expense-self-list-account>
      </div>
      <div *ngIf="voter" id="tab2" class="col s12">
        <app-expense-managed-list-account [voter]="voter"></app-expense-managed-list-account>
      </div>
    </div>
  </section>
</div>
