<section class="content-wrap">

    <div class="row">
        <h1>{{ 'offer.title' | translate }}</h1>

        <div class="col s12 right-align" *ngIf="offerCommon.length == 0 && voter">
          <button class="btn waves-effect deep-orange accent-2 waves-light" (click)="navigateOffer(0)">+ {{ 'offer.add_offer' | translate }}</button>
        </div>

        <div class="col s12">
            <table id="offer" *ngIf="offerCommon" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
                <thead>
                    <tr>
                        <th>{{ 'offer.name' | translate }}</th>
                        <th>{{ 'offer.reference' | translate }}</th>
                        <th>{{ 'offer.start_at' | translate }}</th>
                        <th>{{ 'offer.end_at' | translate }}</th>
                        <th>{{ 'offer.is_valid' | translate }}</th>
                        <th>{{ 'offer.consulted' | translate }}</th>
                        <th class="action-  buttom">{{ 'offer.actions'| translate  }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let offer of offerCommon">
                        <td>{{ offer._name }}</td>
                        <td>{{ offer._reference }}</td>
                        <td>{{ offer._start_at }}</td>
                        <td>{{ offer._end_at }}</td>
                        <td>
                            <a class="btn-floating waves-effect waves-light grey tooltipped " *ngIf="offer._is_valid == 1">
                                <i class="small material-icons">done</i>
                            </a>
                            <a class="btn-floating waves-effect waves-light grey tooltipped " *ngIf="offer._is_valid == 0">
                                <i class="small material-icons">clear</i>
                            </a>
                        </td>
                        <td>{{ offer._consulted }}</td>
                        <td>
                            <a type="button" (click)="deleteOffer(offer._id)" *ngIf="voter"
                                class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Supprimer">
                                <i class="mdi-action-delete"></i></a>
                            <a type="button" (click)="navigateOffer(offer._id)" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom"
                                data-delay="50" data-tooltip="Modifier">
                                <i class="small material-icons">create</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col s12">
            <a class="btn waves-effect waves-light" routerLink="/jobs">{{ 'offer.back' | translate }}</a>
        </div>
    </div>

</section>
