<div class="skill-form">
  <div class="row">
    <form class="col s12" (ngSubmit)="onSubmit()" #skillForm="ngForm">
      <div class="row">
        <div class="col s6">
          <label for="label">Label</label>
          <input type="text" class="validate" id="label" required minlength="3" maxlength="50" [(ngModel)]="skill.label" name="label">
          <div *ngIf="formErrors.label" class="alert alert-danger">
            {{ formErrors.label }}
          </div>
        </div>
        <div class="col s6">
          <label for="description">Description</label>
          <input type="text" class="validate" id="description" required minlength="3" maxlength="50" [(ngModel)]="skill.description" name="description">
          <div *ngIf="formErrors.description" class="alert alert-danger">
            {{ formErrors.description }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!skillForm.form.valid" (click)="handleSkill(); skillForm.reset()">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
