  <section class="content-wrap">
      <div class="jobprofile-create" *ngIf="voter">
    <div class="row">
      <h1>{{ 'jobprofile.add_jobprofile' | translate }}</h1>
    </div>
    <div class="row" *ngIf="jobprofile">
      <div class="col s12">
        <app-jobprofile-form [jobprofile]="jobprofile" [isCreationStrategy]="true"></app-jobprofile-form>
      </div>
    </div>
</div>
</section>
