<div class="expense-account-create">
  <section class="content-wrap">
    <div class="row">
      <h1>Création d'une note de frais</h1>
    </div>
    <div class="row">
      <div class="col s12">
        <app-expense-account-form [expenseAccount]="expenseAccount" [isCreationStrategy]="true"></app-expense-account-form>
      </div>
    </div>
  </section>
</div>

