<section class="content-wrap">
<div class="jobprofile-update" *ngIf="voter">
    <div class="row">
      <h1>{{ 'jobprofile.update_jobprofile' | translate }}</h1>
    </div>
    <div class="row" *ngIf="jobprofile">
      <div class="col s12">
        <app-jobprofile-form [jobprofile]="jobprofile" [isCreationStrategy]="false"></app-jobprofile-form>
      </div>
    </div>
</div>
</section>
