.employe-content{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.employe-picture{
    margin: 0 50px;
}
.employe-view{
    margin: 0 50px;
    font-size: 18px;
}