<section class="content-wrap">
  <div class="row">
    <div *ngIf="employee" id="tab1" class="col s12">
      <div class="row">
          <div class="employe-content">
              <div class="employe-picture">
                  <a class="dropdown-button" href="#!" data-activates="user-dropdown">
                      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/atom_profile_01.jpg" alt="John Doe" class="circle">
                  </a>
              </div>
                <div class="employeview employe-view"  *ngIf="employee">
                    <p>
                      <span>{{ 'employes.add.info_first_name' | translate  }}: {{ employee.getFirstname() }}</span><br>
                      <span>{{ 'employes.add.info_name' | translate  }}: {{ employee.getLastname() }}</span><br>
                      <span>{{ 'employes.add.info_adress' | translate  }}: {{ employee.getAddress() }}</span><br>
                      <span>{{ 'employes.add.info_zip_code' | translate  }}: {{ employee.getZipcode() }}</span><br>
                      <span>{{ 'employes.add.info_city' | translate  }}: {{ employee.getCity()  }}</span><br>
                      <span>{{ 'employes.add.info_email' | translate  }}: {{ employee.getEmail()}}</span><br>
                      <span>{{ 'employes.add.info_role' | translate  }}: {{ employee.getUser().getRole() }}</span><br>
                      <span>{{ 'employes.add.birthday' | translate  }}: {{ employee.getFormatedDateToString(employee.getBirthdayDate()) }}</span><br>
                    </p>
                </div>
          </div>
      </div>
    </div>
  </div>
</section>