<div class="application-form">
  <div class="row">
    <form class="col s12" (ngSubmit)="onSubmit()" #applicationForm="ngForm">
      <div class="row" *ngIf="isCreationStrategy">
        <div class="input-field col s12">
          <div class="row">
            <div class="col s2">
              Offre
            </div>
            <div class="col s5">
              <select id="offer" [(ngModel)]="offer" name="offer" materialize="material_select">
                <option selected>--- Choisir une offre ---</option>
                <option *ngFor="let o of offers" [value]="o.id">{{ o.reference }}</option>
              </select>
              <!--<div *ngIf="formErrors.offers" class="alert alert-danger">-->
                <!--{{ formErrors.offers }}-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label for="name">Titre</label>
          <input type="text" class="validate" id="name" required [(ngModel)]="application.name" name="name">
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label for="firstname">Prénom</label>
          <input type="text" class="validate" id="firstname" required [(ngModel)]="application.firstname" name="firstname">
          <div *ngIf="formErrors.firstname" class="alert alert-danger">
            {{ formErrors.firstname }}
          </div>
        </div>
        <div class="col s6">
          <label for="lastname">Nom</label>
          <input type="text" class="validate" id="lastname" required [(ngModel)]="application.lastname" name="lastname">
          <div *ngIf="formErrors.lastname" class="alert alert-danger">
            {{ formErrors.lastname }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="row">
            <div class="col s2">
              <label for="date">Date d'anniversaire</label>
            </div>
            <div class="col s10">
              <ng2-datepicker id="date" [options]="options" [(ngModel)]="date" name="date"></ng2-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label for="email">Email</label>
          <input type="text" class="validate" id="email" required [(ngModel)]="application.email" name="email">
          <div *ngIf="formErrors.email" class="alert alert-danger">
            {{ formErrors.email }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s5">
          <label for="address">Adresse postale</label>
          <input type="text" class="validate" id="address" required [(ngModel)]="application.address" name="address">
          <div *ngIf="formErrors.address" class="alert alert-danger">
            {{ formErrors.address }}
          </div>
        </div>
        <div class="col s1">
          <label for="zip_code">Code postal</label>
          <input type="text" class="validate" id="zip_code" required maxlength="5" [(ngModel)]="application.zip_code" name="zip_code">
          <div *ngIf="formErrors.zip_code" class="alert alert-danger">
            {{ formErrors.zip_code }}
          </div>
        </div>
        <div class="col s2">
          <label for="city">Ville</label>
          <input type="text" class="validate" id="city" required [(ngModel)]="application.city" name="city">
          <div *ngIf="formErrors.city" class="alert alert-danger">
            {{ formErrors.city }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="file-field">
            <div class="btn deep-orange accent-2">
              <span>Importer votre CV (pdf)</span>
              <input type="file" class="form-control" name="file" ng2FileSelect [uploader]="uploader">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="{{filePlaceholder}}">
            </div>
          </div>
        </div>
        <div class="col s6" *ngIf="application.cv != null">
          <a class="btn-floating btn-large waves-effect waves-light grey darken-4" type="button" href="http://{{ application.cv }}" target="_blank"><i class="mdi-action-visibility"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!applicationForm.form.valid" (click)="handleApplication(); applicationForm.reset()">Valider</button>
        </div>
      </div>
      <app-breadcrumb [link]="'/applications'"></app-breadcrumb>
    </form>
  </div>
</div>
