.customersliste {
    padding: 0 50px; }
.customersliste .customers {
    text-align: center; margin-bottom: 15px}
.customersliste .customers a {
    border-radius: 4px;
    width: 33%;
    background-color: #77BF81; }
.customersliste .customers a:hover {
    background-color: #8F9196; }
.customersliste tr td:nth-last-child(1) {
    text-align: center; }
.customersliste tr td:nth-last-child(1) a {
    font-size: 18px;
    text-decoration: none;
    color: #303239; }
.customersliste tr td:nth-last-child(1) a:nth-child(4) {
    color: #77BF81; }
.customersliste tr td:nth-last-child(1) a:nth-child(5) {
    color: #DF4856; }

/* image info bulle*/

.customersliste span.dropt {
    border-bottom: thin dotted;
}
.customersliste span.dropt:hover {
    text-decoration: none;
    background: #ffffff;
    z-index: 6;
}
.customersliste span.dropt span {
    position: absolute;
    left: -9999px;
    margin: 20px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    z-index: 6;
}
.customersliste span.dropt:hover span {
    /*margin: 20px 0 0 32px;*/
    background: #ffffff;
    z-index: 6;
    left: 70%;
}


.employesliste span.droptCv {
    border-bottom: thin dotted;
}
.customersliste span.droptCv:hover {
    text-decoration: none;
    background: #ffffff;
    z-index: 6;
}
.customersliste span.droptCv span {
    position: absolute;
    left: -9999px;
    margin: 20px 0 0 0px;
    padding: 3px 3px 3px 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    z-index: 6;
}
.customersliste span.droptCv:hover span {
    /*margin: 20px 0 0 32px;*/
    background: #ffffff;
    z-index: 6;
    left: 30%;
    top: -10%;
}
.employesliste .table{
    background-color: white;
}
.employesliste .table thead tr th {
    text-align: center;
}.employesliste .table tbody tr td {
     text-align: center;
 }
.modal{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;

}

.z-depth-4, .modal {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.dialog {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 20px;
    margin-right: auto;
    margin-left: auto;
    /*min-height: 200px;*/
    /*width: 90%;*/
    /*max-width: 520px;*/
    /*background-color: #fff;*/
    padding: 12px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}
.modal .modal-content{
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .dialog {
        top: 40px;
    }
}

.modal a.dialog-close-btn{
    position: absolute;
    border: 0;
    background: none;
    right: 27px;
    top: 20px;
    font-size: 30px;
    /*color: #808080;*/
    color: #2d2d2d;
}

.modal a.dialog-close-btn{
    position: absolute;
    border: 0;
    background: none;
    right: 27px;
    top: 20px;
    font-size: 30px;
    /*color: #808080;*/
    color: #2d2d2d;
}
@media (min-width: 768px) {
    .modal .info img.circle{
        position: absolute;
        right: 150px;
        top:30px;
    }
}