<section class="content-wrap">
  <div class="row">
    <div class="page-intra">
      <div class="section">
        <div class="customersliste">
          <div class="#">
            <div class="row">
              <h1>{{ 'customers.list.title' | translate }}</h1>
            </div>
            <div class="row">
              <div class="col s12 right-align">
                <button class="btn waves-effect deep-orange accent-2 waves-light" [routerLink]="['create']">+ {{ 'customers.add_customer' | translate }}</button>
              </div>
            </div>
            <table  id="customers"  [class.active]="isActive(charge)" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
              <thead>
              <tr>
                <th>{{ 'customers.last_name' | translate }}</th>
                <th>{{ 'customers.adress' | translate }}</th>
                <th>{{ 'customers.zipcode' | translate }}</th>
                <th>{{ 'customers.city' | translate }}</th>
                <th>{{ 'customers.email' | translate }}</th>
                <th>{{ 'customers.phone'| translate }}</th>
                <th class="action-buttom">{{ 'customers.actions'| translate  }}</th>
              </tr>
              </thead>
              <tbody *ngIf="charge != false">
              <tr *ngFor="let customer of customers">
                <td>{{ customer.getLastname() }}</td>
                <td>{{ customer.getAddress() }}</td>
                <td>{{ customer.getZipcode() }}</td>
                <td>{{ customer.getCity() }}</td>
                <td>{{ customer.getEmail() }}</td>
                <td>{{ customer.getPhone() }}</td>
                <td >
                  <a type="button" [routerLink]="['update/', customer.getId()]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Modifier"><i class="small material-icons">create</i></a>
                  <a type="button" (click)="delete(customer.getId())" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Supprimer"><i class="small material-icons">delete</i></a>
                </td>
              </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
