<div class="cra-form">
  <div class="row">
    <form class="col s12" (ngSubmit)="onSubmit()" #craForm="ngForm">
      <div class="row">
        <div class="input-field col s12">
          <div class="row">
            <div class="col s2">
              Offre
            </div>
            <div class="col s5">
              <select id="customer" [(ngModel)]="cra.idCustomer" name="customer" materialize="material_select">
                <option >--- Choisir l'entreprise ---</option>
                <option *ngFor="let c of customers" [value]="c.getId()" >{{ c.getLastname() }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label for="title">Titre</label>
          <input type="text" class="validate" id="title" required minlength="3" maxlength="50" [(ngModel)]="cra.title" name="title">
          <div *ngIf="formErrors.title" class="alert alert-danger">
            {{ formErrors.title }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label for="description">Description</label>
          <textarea type="text" class="validate" id="description"  [(ngModel)]="cra.description" name="description"></textarea>
          <div *ngIf="formErrors.description" class="alert alert-danger">
            {{ formErrors.description }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="row">
            <div class="col s2">
              <label for="dateStartMission">Date du début mission</label>
            </div>
            <div class="col s10">
              <ng2-datepicker id="dateStartMission" [options]="options" [(ngModel)]="started_at" name="dateStartMission"></ng2-datepicker>
            </div>
          </div>
        </div>
        <div class="col s6">
          <div class="row">
            <div class="col s2">
              <label for="dateEndMission">Date du fin mission</label>
            </div>
            <div class="col s10">
              <ng2-datepicker id="dateEndMission" [options]="options" [(ngModel)]="ended_at" name="dateEndMission"></ng2-datepicker>
            </div>
          </div>
        </div>
        <div class="col s6">
          <label for="time_journey">Temp de la journée en Heure</label>
          <input type="number" class="validate" id="time_journey" required [(ngModel)]="cra.time_journey" name="time_journey" min="0">
          <div *ngIf="formErrors.time_journey" class="alert alert-danger">
            {{ formErrors.time_journey }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label for="distance">Distance parcourue en Km </label>
          <input type="number" class="validate" id="distance" [(ngModel)]="cra.distance" name="distance" min="0">
          <div *ngIf="formErrors.distance" class="alert alert-danger">
            {{ formErrors.distance }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <div class="row">
            <div class="col s2">
              <label for="type">Type de Poste</label>
            </div>
            <div class="col s5">
              <select id="type" [(ngModel)]="cra.type_job" name="type" materialize="material_select">
                <option>--- Choisir le type de poste ---</option>
                <option *ngFor="let t of cra.typeJobArray" [value]="t.id">{{ t.label }}</option>
              </select>
              <div *ngIf="formErrors.type_job" class="alert alert-danger">
                {{ formErrors.type_job }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!craForm.form.valid" (click)="handleCra(); craForm.reset()">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>