.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.1);
}
/*table.active tbody .odd{*/
    /*display: none;*/
/*}*/
.flash-message > p {
    text-align: center;
    margin-top: 0px
}
.alert-warning {
    background-color: #fff3e0;
    color: #ff9800;
}
.alert-danger {
    background-color: #FFEBEE;
    color: #F44336;
}
.alert-success {
    background-color: #E8F5E9;
    color: #4CAF50;
}
.alert-news {
    background-color: #e1f5fe;
    color: #03a9f4;
}
.alert-info {
    background-color: #ede7f6;
    color: #673ab7;
}
