<section class="content-wrap">

    <div class="row" *ngIf="holidaysSelf || holidaysCommon">
        <h1>{{ 'holidays.title' | translate }}</h1>

        <div class="col s12 right-align" *ngIf="voter">
            <button class="btn waves-effect deep-orange accent-2 waves-light" [routerLink]="['create']">+ {{ 'holidays.add_holiday' | translate }}</button>
        </div>


        <div class="col s12">
            <ul class="tabs" materialize="tabs">
                <li class="tab col s6"><a href="#holidaysSelf" class="active">{{ 'holidays.holidaysSelf' | translate }}</a></li>
                <li class="tab col s6" *ngIf="holidaysProvider.getCurrentUserRole().getLabel() != holidaysProvider.getCurrentUserRole().rolesMap.collaborator"><a href="#holidaysCommon">{{ 'holidays.holidaysCommon' | translate }}</a></li>
            </ul>
        </div>

        <div class="col s12">
            <div id="holidaysSelf">
                <table id="holidaysSelfTable" *ngIf="holidaysSelf" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
                    <thead>
                        <tr>
                            <th>{{ 'holidays.user' | translate }}</th>
                            <th>{{ 'holidays.reason' | translate }}</th>
                            <th>{{ 'holidays.startingDate' | translate }}</th>
                            <th>{{ 'holidays.endingDate' | translate }}</th>
                            <th>{{ 'holidays.isValid'| translate }}</th>
                            <th class="action-buttom">{{ 'holidays.actions'| translate  }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let holiday  of holidaysSelf">
                            <td>{{ holiday._employee.last_name }} {{ holiday._employee.first_name }}</td>
                            <td>{{ holiday.reasonsArray[holiday._reason -1].label }}</td>
                            <td>{{ holiday._started_at }}</td>
                            <td>{{ holiday._ended_at }}</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light grey tooltipped " *ngIf="holiday._state === 2">
                                    <i class="small material-icons">done</i>
                                </a>
                                <a class="btn-floating waves-effect waves-light grey tooltipped " *ngIf="holiday._state === 1">
                                    <i class="small material-icons">crop_square</i>
                                </a>
                                <a class="btn-floating waves-effect waves-light grey tooltipped " *ngIf="holiday._state === 3">
                                    <i class="small material-icons">clear</i>
                                </a>
                            </td>
                            <td>
                                <a type="button" [routerLink]="['update/', holiday._id]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" *ngIf="voter"
                                    data-delay="50" data-tooltip="Modifier"><i class="small material-icons">create</i></a>
                                <a type="button" *ngIf="voter" (click)="deleteHolidays(holiday._id)" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50"
                                    data-tooltip="Supprimer"><i class="mdi-action-delete"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div id="holidaysCommon" *ngIf="holidaysProvider.getCurrentUserRole().getLabel() != holidaysProvider.getCurrentUserRole().rolesMap.collaborator">
                <table id="holidaysCommonTable" *ngIf="holidaysCommon" class="display table table-bordered table-striped table-hover table-responsive" cellspacing="0">
                    <thead>
                        <tr>
                            <th>{{ 'holidays.user' | translate }}</th>
                            <th>{{ 'holidays.reason' | translate }}</th>
                            <th>{{ 'holidays.startingDate' | translate }}</th>
                            <th>{{ 'holidays.endingDate' | translate }}</th>
                            <th>{{ 'holidays.isValid'| translate }}</th>
                            <th class="action-buttom">{{ 'holidays.actions'| translate  }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let holiday  of holidaysCommon">
                            <td>{{ holiday._employee.last_name }} {{ holiday._employee.first_name }}</td>
                            <td>{{ holiday.reasonsArray[holiday._reason -1].label }}</td>
                            <td>{{ holiday._started_at }}</td>
                            <td>{{ holiday._ended_at }}</td>
                            <td>
                                <a class="btn-floating waves-effect waves-light grey tooltipped " *ngIf="holiday._state === 2">
                                    <i class="small material-icons">done</i>
                                </a>
                                <a class="btn-floating waves-effect waves-light grey tooltipped " (click)="validHoliday(holiday)" *ngIf="holiday._state === 1">
                                    <i class="small material-icons">crop_square</i>
                                </a>
                                <a class="btn-floating waves-effect waves-light grey tooltipped " (click)="validHoliday(holiday)" *ngIf="holiday._state === 3">
                                    <i class="small material-icons">clear</i>
                                </a>
                            </td>
                            <td>
                                <a type="button" [routerLink]="['update/', holiday._id]" class="btn-floating waves-effect waves-light grey darken-4 tooltipped" data-position="bottom" *ngIf="voter"
                                    data-delay="50" data-tooltip="Modifier"><i class="small material-icons">create</i></a>
                                <a type="button" *ngIf="voter" (click)="deleteHolidays(holiday._id)" class="btn-floating waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50"
                                    data-tooltip="Supprimer"><i class="mdi-action-delete"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</section>
