<div class="skill-create" *ngIf="voter">
  <section class="content-wrap">
    <div class="row">
      <h1>Création d'une compétence</h1>
    </div>
    <div class="row">
      <div class="col s12">
        <app-skill-form [skill]="skill" [isCreationStrategy]="true"></app-skill-form>
      </div>
    </div>
  </section>
</div>

