<div class="application" *ngIf="application && voter">
  <section class="content-wrap">
    <div class="row">
      <h1>{{ application.getName() }}</h1>
      <h3>Offre : {{ application.getOffer()._reference }} - {{ application.getOffer()._name }}</h3>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s6 offset-s6">
                <blockquote><h3 class="deep-orange-text">{{ application.getFirstname() }} {{ application.getLastname() }}</h3></blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <img src="../../../../assets/img/application-component/user.png" alt="user" class="application-view__user-image">
              </div>
              <div class="col s6">
                <p><b>Date d'anniversaire :</b> {{ application.getBirthdayDate() }}</p>
                <p><b>Email :</b> {{ application.getEmail() }}</p>
                <p><b>Adresse :</b> {{ application.getAddress() }}</p>
                <p><b>Code postal :</b> {{ application.getZipcode() }}</p>
                <p><b>Ville :</b> {{ application.getCity() }}</p>
                <a *ngIf="application.getCv()" class="waves-light grey darken-4 btn application-view__cv-button" href="http://{{ application.getCv() }}" target="_blank">Voir le CV</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-breadcrumb [link]="'/applications'"></app-breadcrumb>
  </section>
</div>
