<div class="jobprofile-form">
    <div class="row" *ngIf="jobprofile">

        <form #jobprofileForm="ngForm" class="col s12" (ngSubmit)="handleJobProfile()">

            <div class="row">
                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s2">
                            <label for="label">{{ 'jobprofile.label' | translate }}</label>
                        </div>
                        <div class="col s10">
                            <input type="text" class="validate" id="label" required minlength="3" maxlength="50" [(ngModel)]="jobprofile.label" name="label">
                            <div *ngIf="formErrors.label" class="alert alert-danger">
                              {{ formErrors.label }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s2">
                            <label for="expertise">{{ 'jobprofile.expertise' | translate }}</label>
                        </div>
                        <div class="col s10">
                            <input type="text" class="validate" id="expertise" required minlength="3" maxlength="100" [(ngModel)]="jobprofile.expertise" name="expertise">
                            <div *ngIf="formErrors.expertise" class="alert alert-danger">
                              {{ formErrors.expertise }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s2">
                            <label for="localisation">{{ 'jobprofile.localisation' | translate }}</label>
                        </div>
                        <div class="col s10">
                            <input type="text" class="validate" id="localisation" required minlength="3" maxlength="100" [(ngModel)]="jobprofile.localisation" name="localisation">
                            <div *ngIf="formErrors.localisation" class="alert alert-danger">
                              {{ formErrors.localisation }}
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s2">
                            <label for="customer">{{ 'jobprofile.customer' | translate }}</label>
                        </div>
                        <div class="col s5">
                          <select id="customer" [(ngModel)]="jobprofile.customer" required name="customer" materialize="material_select">
                            <option>--- Choisir un client ---</option>
                            <option *ngFor="let r of customersArray" [value]="r.id">{{ r.first_name }} {{ r.last_name }}</option>
                          </select>
                          <div *ngIf="formErrors.customer" class="alert alert-danger">
                            {{ formErrors.customer }}
                          </div>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s2">
                            <label for="contract_type">{{ 'jobprofile.contract_type' | translate }}</label>
                        </div>
                        <div class="col s5">
                          <select id="contract_type" [(ngModel)]="jobprofile.contract_type" required name="contract_type" materialize="material_select">
                            <option>--- Choisir un contrat ---</option>
                            <option value="CDI">CDI</option>
                            <option value="CDD">CDD</option>
                            <option value="Interim">Interim</option>
                          </select>
                          <div *ngIf="formErrors.contract_type" class="alert alert-danger">
                            {{ formErrors.contract_type }}
                          </div>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s2">
                            <label for="salary">{{ 'jobprofile.salary' | translate }}</label>
                        </div>
                        <div class="col s3">
                            <input type="text" class="validate" placeholder="€" id="salary" required [(ngModel)]="jobprofile.salary" name="salary">
                            <div *ngIf="formErrors.salary" class="alert alert-danger">
                              {{ formErrors.salary }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s2">
                            <label for="description">{{ 'jobprofile.description' | translate }}</label>
                        </div>
                        <div class="col s10">
                            <textarea class="materialize-textarea" maxlength="250" id="description" required [(ngModel)]="jobprofile.description" name="description"></textarea>
                            <div *ngIf="formErrors.description" class="alert alert-danger">
                              {{ formErrors.description }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12 l6 m6">
                    <div class="row">
                        <div class="col s2">
                            <label for="information">{{ 'jobprofile.information' | translate }}</label>
                        </div>
                        <div class="col s10">
                            <textarea class="materialize-textarea" maxlength="250" id="information" required [(ngModel)]="jobprofile.information" name="information"></textarea>
                            <div *ngIf="formErrors.information" class="alert alert-danger">
                              {{ formErrors.information }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action" *ngIf="jobprofile._published == 0" [disabled]="!jobprofileForm.form.valid">{{ 'jobprofile.valid' | translate }}</button>
                    <a class="btn waves-effect waves-light" routerLink="/jobs">{{ 'jobprofile.cancel' | translate }}</a>
                </div>
            </div>
        </form>

    </div>
</div>
