<nav class="navbar-top">
  <div class="nav-wrapper">

    <!-- Sidebar toggle -->
    <a class="yay-toggle">
      <div class="burg1"></div>
      <div class="burg2"></div>
      <div class="burg3"></div>
    </a>
    <!-- Sidebar toggle -->

    <!-- Logo -->
    <!-- <a href="#!" class="brand-logo">
      <img src="assets/img/site/logo.png" alt="Con">
    </a> -->
    <!-- /Logo -->

    <!-- Menu -->
    <ul>
      <li class="user">
        <a class="dropdown-button" href="#!" data-activates="user-dropdown">
          <span class="menu-header__account-letter-container"><span class="menu-header__account--letter-span">{{ employee.getFirstname() | slice:0:1 }}{{ employee.getLastname() | slice:0:1}}</span></span>{{ employee.getFirstname()}} - {{ employee.getLastname() }}<i class="mdi-navigation-expand-more right"></i>
        </a>

        <ul id="user-dropdown" class="dropdown-content">
          <li><a routerLink="profile"><i class="fa fa-user"></i> Profile</a>
          </li>
          <!-- <li><a href="mail-inbox.html"><i class="fa fa-envelope"></i> Messages <span class="badge new">2</span></a>
          </li> -->
          <!-- <li><a href="#!"><i class="fa fa-cogs"></i> Settings</a>
          </li> -->
          <li class="divider"></li>
          <li><a (click)="logOut()"><i class="fa fa-sign-out"></i> Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- /Menu -->

  </div>
</nav>
