.dropdown-content {
  margin-top: 55px;
}

.menu-header__account-letter-container {
  width: 40px;
  height: 40px;
  background: #F0654D;
  border-radius: 50%;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 8px;
  right: 5px;
}

.menu-header__account--letter-span {
  position: relative;
  top: -8px;
}
